.two-slots-cell {
  /* display: grid;
  grid-template-rows: repeat(2, 1fr); */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: blue;
  border-color: red;
  border: 1px;
  min-height: 50px;
  min-width: 50px;
}