.people-map-body {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
  grid-template-rows: 60px repeat(3, 1fr);
  column-gap: 2px;
  row-gap: 2px;
}

c-two-slots-cell {
  display: contents;
}

c-five-slots-cell {
  display: contents;
}

c-row-shoulder {
  display: contents;
}

c-table-header {
  display: contents;
}
